* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --primary-color: rgb(0, 49, 0);
  --secondary-color: darkgreen;
}




body {

  background: rgb(227, 254, 255);
  font-family: 'poppins', 'sans-serif';

}


.container {
  margin: auto;
  width: 100%;
  height: 100vh;
  position: relative;

}

.tasks {
  width: 100%;
  min-height: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  background: rgb(255, 255, 255);

  padding: 30px;
  margin-top: 50px;


}

.task {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-radius: .2rem;
  background: white;
  margin-top: 20px;
  font-family: 'poppins', 'sans-serif';
  font-size: .8em;
}

.button {
  cursor: pointer;
}

.task .right {
  display: flex;
  justify-content: space-between;
  width: 50px
}


.tasks p.no-task {
  position: relative;
  margin: 0;
  width: 300px;
  height: 50px;
  font-family: 'poppins';
  box-sizing: content-box;
  padding: 10px 15px;
  border-radius: .2rem;
  background: var(--secondary-color);
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.remind {
  border-left: 3px solid var(--primary-color);
}

.tasks .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.addForm {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
  min-height: 100px;
  box-sizing: content-box;
  padding: 20px 0;
  text-align: center;
}

.form-item {
  display: flex;
  align-items: flex-start;
}

.form-input {
  width: 100%;
  height: 50px;

  flex-direction: column;

}

.form-input input {
  width: 100%;
  height: 50px;
}

.form-item.task-reminder {
  width: 110px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-item.task-reminder #task-reminder {
  width: 20px;
  height: 20px;
}

.submitTask {
  width: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 50px;
  background: var(--primary-color);
  color: white;

}

button.addTask {
  width: 50px;
  height: 40px;

  color: white;
  background: var(--primary-color);
}

.block-button {
  border-radius: .2rem;
  outline: none;
  border: none;
}

@media only screen and (min-width:700px) {
  .tasks {
    width: 700px;
  }
}